* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}
.app-container {
  position: relative;
}
.arrow {
  opacity: 0;
  transition: 0.2s ease-in;
}
.app-container .arrow {
  font-size: 50px;
  padding: 5px;
  border: 1px solid #fcfb00;
  border-radius: 5px;
  position: absolute;
  bottom: 15%;
  right: 1%;
  cursor: pointer;
}
:root {
  --textColor: ##999999;
}

header ul {
  background-color: #fcfb00;
  height: 11vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
header .brand {
  font-size: 40px;
}
header .navs {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

header .header-login {
  display: flex;
  align-items: center;
}
header .header-login button {
  margin: 0 10px;
  border: 1px solid black;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #fcfb00;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.accordion-body {
  background-color: black;
}
.accordion-body ul {
  justify-content: center;
  padding: 10px 0;
}
.accordion-body li {
  padding: 0 5px;
}
.nav-pills .nav-link {
  color: black;
}
.nav-link:hover {
  color: white !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
}
.slot-carousel {
  display: flex;
}
.game-button-slide {
  display: flex;
  justify-content: center;
}
.slot-carousel-img img {
  height: 25vh;
  margin: 0 5px;
  transition: 0.3s ease-in;
}

#slotContainer {
  overflow: hidden;
  padding: 20px 10%;
}
.accordion-body button {
  background-color: #fcfb00;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
  margin-bottom: 1%;
}

.gameContainer {
  display: flex;
}
.casino-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: #181c1f;
}
.casino-container button {
  position: absolute;
  top: 30vh;
  left: 6vw;
  background-color: #fcfb00;
  color: black;
  border: none;
}
.casino-container img {
  height: 40vh;
}
/* form css */
.logIn {
  display: flex;
  background-color: #fcfb00;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.signUpText {
  margin-top: 5%;
}
.loginContainer {
  display: flex;
  border-radius: 5px;
  margin-right: 20px;
}
.loginImgCarousel img {
  height: 50vh;
}
.carousel-item-flex {
  display: flex;
  align-items: center;
}
.carousel-item-flex h1 {
  font-size: 4rem;
}

#logins {
  position: absolute;
  right: 0;
}
#registers {
  position: absolute;
  right: 0;
}
.fade-element {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
}

.loginContainer img {
  height: 50vh;
  max-width: 100%;
}

form {
  color: black;
  margin: 20px;
  /* width: 15vw; */
}

form button {
  background-color: #fcfb00;
  border: 1px solid black;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10%;
}
.input-container {
  margin: 5% 0;
}
input {
  background-color: rgb(61, 59, 59) !important;
  color: white !important;
}
input .focus {
  border: 2px solid black;
}
label {
  margin-bottom: 10px;
}
/* banner */
.banner {
  height: 89vh;
  background-image: url("/proj3/images/Capture.PNG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner .bx {
  color: #fcfb00;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-75px);
  cursor: pointer;
  padding: 10px;
  border: 2px solid #fcfb00;
  border-radius: 5px;
}
.banner h3 {
  color: #fcfb00;
  font-weight: 100;
  font-size: 50px;
}
.banner h1 {
  color: white;
  font-weight: 100;
  font-size: 120px;
}
.banner h4 {
  color: white;
  font-size: 50px;
  font-weight: 100;
}
.banner span {
  color: #fcfb00;
}
.banner-text {
  width: 70%;
  text-align: center;
}
.banner-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner-button h5 {
  background-color: #fcfb00;
  border: 1px solid black;
  padding: 12px 25px;
  font-size: 30px;
  font-weight: 100;
  margin: 0 15px;
  border-radius: 10px;
}
.banner-button #howTo {
  color: gray;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
}
.trending {
  padding: 0 10%;
  background-color: #181c1f;
}
.trending button {
  background-color: #fcfb00;
  border: 1px solid black;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
  cursor: pointer;
}
.trending p {
  padding: 10px 0;
}
.trending h1 {
  color: white;
  font-weight: 100;
  font-size: 80px;
}
.trending-detail {
  display: flex;
  justify-content: space-between;
}
.trending-detail p {
  color: gray;
  font-weight: 100;
}
.img-container {
  position: relative;
  margin: 10px 0 7% 0;
}
.img-container:hover button {
  opacity: 1;
}
.img-container img:hover {
  opacity: 0.5;
}
.view-all button {
  background-color: #fcfb00;
  border: 1px solid black;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  transform: translateY(20vh);
  left: 30%;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.trending-img {
  display: flex;
  justify-content: space-between;
}
.trending-img img {
  height: 35vh;
  max-width: 100%;
}
.welcome-bonus {
  background-color: #181c1f;
  padding: 0 10%;
  position: relative;
}
.welcome-bonus-text {
  background-color: #fcfb00;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}
.welcome-bonus img {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translateY(-10vh);
}
.welcome-bonus h4 {
  font-size: 50px;
  font-weight: 100;
}
.welcome-bonus h1 {
  font-size: 100px;
  font-weight: 100;
  padding: 30px 0;
}
.welcome-bonus button {
  max-width: 15%;
  background-color: black;
  color: white;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
}
#game-providers {
  padding-top: 5%;
}
.carousel-img {
  display: flex;
}
.carousel-img img {
  padding: 0 10px;
}
.footer-carousel {
  padding: 0 10%;
  background-color: #181c1f;
}
/* footer CSS */
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5% 0;
}
.footer-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-container h3 {
  color: white;
  font-weight: 100;
}
.footer-container h6 {
  color: gray;
  font-weight: 100;
}
.footer-link h6:hover {
  color: #fcfb00;
  transition: 0.3s;
}
.footer-link button {
  background-color: #fcfb00;
  border: 1px solid black;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
}
.footer-text {
  padding: 0 12% 5% 10%;
  font-weight: 100;
  color: gray;
  background-color: black;
}

.footer-text span {
  color: #fcfb00;
}
.all-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}
.all-rights img {
  height: 30px;
  color: white;
  background-color: #fcfb00;
  border-radius: 50%;
}
/* aboutUs.html CSS */
.aboutUs {
  background-color: black;
  color: gray;
  font-weight: 100;
  padding: 1% 15%;
}
.aboutUs h1 {
  color: white;
  font-size: 10rem;
}
.aboutUs h3 {
  color: white;
  font-size: 3rem;
  margin: 3% 0;
}
.aboutUs p {
  font-size: 20px;
}
@media screen and (max-width: 820px) {
  header ul {
    justify-content: space-between;
    padding: 0;
  }
  header .navs {
    width: 100vw;
  }
  header .header-login button {
    white-space: nowrap;
  }
  .gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .casino-container img {
    height: 27vh;
  }
  .casino-container button {
    top: 20vh;
    left: 10vw;
  }
  #slotContainer img {
    height: 22vh;
  }
  #slotContainer {
    height: 25vh;
    padding: 0;
    margin: 0;
  }
  .trending-img img {
    height: 24vh;
  }
  .welcome-bonus h1, h4, button {
  z-index: 1;
  }
  .welcome-bonus img {
  top: 10vh;
  height: 60vh;
  }
  header li {
    margin: 0 5px;
    white-space: nowrap;
  }
  .loginContainer {
    align-items: center;
  }
  .loginContainer img {
    height: 40svh;
  }
  .carousel-item-flex h1 {
    font-size: 3rem;
  }
  .loginImgCarousel img {
    height: 29vh;
  }
  .logIn {
    height: 65vh;
  }
  #logins {
    bottom: -5vh;
    right: 10vw;
  }
  #registers {
    bottom: -2vh;
    right: 10vw;
  }
  .footer-link button {
    white-space: nowrap;
  }
}

@media screen and (max-width: 414px) {
  .banner h1,
  .banner h4 {
    font-size: 1rem;
  }
  .banner {
  height: 59vh;
  }
  header .brand {
    font-size: 30px;
  }
  .loginContainer img {
    height: 30vh;
  }
  .loginImgCarousel img {
    height: 22vh;
  }
  .carousel-item-flex h1 {
    font-size: 1.5rem;
  }
  #logins {
    bottom: -2vh;
  }
  #registers {
    bottom: -2vh;
  }

  .logIn {
    height: 65vh;
  }
  form button {
    margin-top: 0;
  }
  header ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 18vh;
    padding: 20px 10px 0 10px;
  }
  header .navs {
    width: 100%;
  }
  .accordion-body button {
    padding: 10px 15px;
  }
  .casino-container img {
    height: 18vh;
  }
  .banner .bx {
    display: hidden !important;
    opacity: 0;
  }
  .gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slot-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 100vw;
  }
  .slot-carousel-img img {
    height: 13vh;
  }
  #slotContainer {
    padding: 0;
    margin: 0;
  }

  .casino-container button {
    top: 13vh;
    font-size: 12px;
    padding: 5px 15px;
  }
  .trending h1 {
    font-size: 3rem;
  }
  .welcome-bonus h1, h4, button {
    z-index: 1;
    }
    .welcome-bonus button {
      white-space: nowrap;
      max-width: 35%;
    }
    .welcome-bonus-text {
   height: 50vh;
    }
  .welcome-bonus h1 {
    font-size: 30px;
  }
  .welcome-bonus img {
    height: 40vh;
    top: 20vh;
  }
  .trending button {
    padding: 0;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-link button {
    white-space: nowrap;
  }
  .banner-button h5 {
    white-space: nowrap;
    font-size: 15px;
  }
  .trending-img img {
    height: 12vh;
    margin: 0 10px;
  }
  .carousel-img img {
    height: 10vh;
  }


}
@media screen and (max-width: 375px) {
  #logins {
    bottom: -5vh;
  }
  #registers {
    bottom: -3vh;
  }
  .logIn {
    height: 75vh;
  }
  .loginContainer img {
    height: 35vh;
  }
  .loginImgCarousel img {
    height: 27vh;
  }
  header ul {
    height: 25vh;
    padding-bottom: 0px;
  }
  form h1 {
    white-space: nowrap;
  }
  .welcome-bonus h4 {
    font-size: 30px;
  }
}
